.courses-container {

    .courses {

        .courses-listing {

            .courses-listing-item {

                .find-courses & {
                    max-height: none;
                }
            }
        }

        .course {
            background: #fafafa;
            box-shadow: 2px 2px 4px rgba(79, 79, 79, 0.25);
            border-radius: 2px;
            border: 0;

            .find-courses & {
                margin-bottom: 0;
            }

            &:focus,
            &:hover {
                box-shadow: 2px 2px 4px rgba(79, 79, 79, 0.5);
            }

            .course-info {
                height: 167px;

                .course-date {
                    font-size: 12px;
                    font-weight: 500;
                    padding: 2px 20px;

                    &:before {
                        content: "\f017";
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        margin-right: 10px;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
            }

            .description {
                color: $base-font-color;
                padding: 15px 20px;
                font-size: 12px;
                height: 65px;
                overflow: hidden;
            }

            .learn-more {
                display: block;
                text-align: right;
                font-weight: bold;
                color: $theme-blue;
                padding: 20px 20px 0;
                font-size: 14px;
            }

            .course-image {

                .cover-image {
                    position: relative;
                    height: 245px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    .course-name {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: 0;
                        padding: 0 14px 11px;
                        font: 500 10px/1.2 $font-family-sans-serif;

                        .course-title-wrap {
                            display: block;
                        }

                        .course-text {
                            background: #fff;
                            color: #000;
                            display: inline-block;
                            vertical-align: top;
                            margin: 0 0 8px;
                            text-transform: uppercase;
                            padding: 1px 6px 3px;
                        }

                        .course-title {
                            background: rgba(0, 0, 0, .4);
                            font-size: 20px;
                            line-height: 1.1;
                            padding: 3px 6px 6px;
                            display: inline-block;
                            vertical-align: top;
                            color: #fff;
                        }
                    }

                    &:before,
                    .learn-more {
                        display: none;
                    }
                }
            }
        }
    }
}
