// ====================
// Open edX: LMS footer
// ====================
.wrapper-footer {
  border: 0;
  box-shadow: none;
  background: $footer-bg;
  padding: 60px 20px 30px;

  footer {
    &#footer-openedx {
      .wrapper-logo {
        margin: 0;
      }
    }
  }
}

.footer-container {
  border-top: 1px solid $base-font-color;
  padding-top: 25px;
  text-align: center;

  @include media-up(sm) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper-nav-colophon {
    @include media-up(sm) {
      padding-left: 10px;
    }

    ol {
      font-size: 14px;
      padding-bottom: 20px;
      list-style-type: none;

      @include media-up(sm) {
        display: flex;
        justify-content: flex-start;
        position: relative;
        overflow: hidden;
        padding-bottom: 0;
      }
    }

    .nav-colophon {
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0 20px 0 -10px;
      padding: 0 0 2px 10px;

      &:first-child {
        &:before {
          display: none;
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 2px;
        left: -3px;
        bottom: 4px;
        width: 2px;
        background: $base-font-color;
      }

      a {
        .wrapper-footer footer#footer-openedx & {
          color: $base-font-color;
          border: 0;

          &:hover,
          &:focus,
          &:active {
            color: #36c;
          }
        }
      }
    }
  }
}
