// ====================
// Header
// ====================
header.global-header {

    .header-logo {

        a {
            @include media-up(md) {
                margin: 10px 0 0 24px;
            }
        }

        .course-header {
          @include text-align(left);

          .course-name {
            @include ellipsis(200px);
            line-height: 1.3;
            margin-top: 2px;
            display: block;
          }
        }
    }

    .hamburger-menu {

        .line {
            height: 3px;
        }
    }

    .nav-links {
        display: flex;

        .nav-item {
            margin: 0 16px;
        }

        .main {
            margin: 13px 0 0;
            float: none;
            flex-grow: 1;
            text-align: center;

            .nav-item {

                @include media-up(md) {
                    float: none;
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            a,
            .nav-tab a {
                font-size: 14px;
                font-weight: 700;
                padding: 7px 16px 12px;
                display: block;
                color: $base-font-color;

                &:focus,
                &:hover {
                    color: $theme-blue;
                }
            }
        }

        .secondary {
            margin: 12px 15px 0 0;

            &.authed {

                .nav-item {
                    vertical-align: middle;
                }
            }

            .username {
              @include ellipsis(100px);
              vertical-align: middle;
            }

            .nav-item {
                padding-top: 0;
                font-size: 14px;
                vertical-align: top;
                margin: 0;
            }

            .user-image-frame {
                height: 36px;
                width: 36px;
                border-radius: 30px;
            }

            .image-placeholder {
                background: #ffa592;
                height: 36px;
                width: 36px;
                font-size: 16px;
                line-height: 36px;
                text-align: center;
                text-transform: uppercase;
                margin: 0 5px;
                display: inline-block;
                vertical-align: middle;
                border-radius: 50px;
            }

            a {
                font-weight: bold;

                &.btn {
                    padding: 4px 12px;
                    border-radius: 2px;
                    font-weight: bold;
                    display: block;
                }

                &.register-btn {
                    background: $theme-blue;
                    color: white;
                    margin-right: 5px;
                }

                &.sign-in-btn {
                    color: $theme-blue;
                    background: white;
                }
            }
        }
    }
}

.mobile-menu {

    .mobile-nav-link {

        a {
            color: $base-font-color;
            font-size: 14px;
            font-weight: bold;

            &:after {
                display: none;
            }

            &.btn {
                padding: 8px 15px;
                border-radius: 2px;
                font-weight: bold;
                display: block;
                margin: 6px;
                width: auto;
            }

            &.register-btn {
                background: $theme-blue;
                color: white;
                margin-right: 5px;
            }
        }
    }
}
