html { height: 100%; }
.translations {
  box-sizing: border-box;
  padding: 50px 20px;
  min-height: calc( 100vh - 280px);

  img {
    visibility: hidden;
  }

  * {
    &,
    &:after,
    &:before {
      box-sizing: border-box;
    }
  }

  .translation-header,
  .translation-languages {
    display: flex;
    padding-bottom: 20px;

    .course-select {
      width: 100%;
    }

    .col {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 25px;

      > div {
        max-width: 290px;
      }
    }
  }

  .translation-frame {
    background: #fff;
    padding: 20px 5px;
    border-radius: 5px;
  }
}

.sections {

  .col {
    padding: 8px $indent;
    flex: 0 0 50%;
    font-size: 15px;
    position: relative;

    .title {
      font-size: 16px;
    }

    &:first-child {
      border-right: 1px solid #ccc;
    }
  }

  .header { cursor: pointer; }

  .header,
  .translation-body,
  .translation-title {
    display: flex;

    &:hover {
      > .col {
        background: #eee;
      }
    }

    .fa {
      top: 14px;
      left: 5px;
      position: absolute;
      font-size: 11px;
      transition: transform .3s ease;
    }
  }

  .translation-body {
    font-size: 14px;

    * {
      font-size: inherit !important;
    }

    ul, ol {
      margin: 2rem 0;
      padding-left: 2rem;
      list-style: inherit;
    }

    ol {
      list-style: auto;
    }

    p {
      margin: 2rem 0;
    }
  }

  .body {

    .col {
      padding-left: $indent*2;

      .fa {
        left: $indent*2-15;
      }
    }

    .body {

      .col {
        padding-left: $indent*3;

        .fa {
          left: $indent*3-15;
        }
      }
    }
  }
}

.collapsed {

  > .header {

    .fa {
      transform: rotate(-90deg);
    }
  }

  > .body {
    display: none;
  }
}

.course-select {
  background-color: #f2f2f2;
  background-image: -webkit-linear-gradient(#f2f2f2,#fff);
  background-image: linear-gradient(#f2f2f2,#fff);
  padding: 6px 8px 8px;
  border: 1px solid #b2b2b2;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  color: #4c4c4c;
  outline: 0;
}
