$indent:            25px;

// ----------------------------
// #COLORS
// ----------------------------

$theme-green:            #008100;
$theme-blue:             #36c;
$base-font-color:        #000;

$primary:                 $theme-blue;

$font-family-sans-serif: "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;

$font-family-open-sans: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

$font-family-trebuchet: 'TrebuchetMS', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

$f-sans-serif:           $font-family-sans-serif;
