$indent:            25px;

// ----------------------------
// #COLORS
// ----------------------------

$theme-green:            #008100;
$theme-blue:             #36c;
$base-font-color:        #000;

$primary:                 $theme-blue;

$font-family-sans-serif: "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;

$f-sans-serif:           $font-family-sans-serif;
